@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('./assets/Montserrat-VariableFont_wght.ttf') format('opentype');
}

body {
  /* @apply dark:text-zinc-200 bg-white dark:bg-zinc-900; */
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.__border {
  /* @apply border border-zinc-300 dark:border-zinc-500; */
}

.form-control-sm{
  border-style: solid;
}

.border-grey{
  border-color: rgba(0, 0, 0, 0.175);
}